<a href="https://colab.research.google.com/github/pooja-github16/PythonPractice/blob/main/dataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Multidimentinal list
list=[[1,2,3],[4,5,6],[7,8,9]]
print(list)
print("Length of list::",len(list))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Length of list:: 3

In [ ]:
#list comprehension
list=[1,2,3,4,5,]
print(list)
#squre root of list
list2=[i**2 for i in list]
print(list2)
# even list
evenList=[i for i in range(20) if i%2==0]
print("List of even Numer:-",evenList)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
List of even Numer:- [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#reverse a multi-dimensional list
list=[[1,2,3],[4,5,6],[7,8,9]]
print(list)
print("Reverse of multidimensional list::")
print(list[::-1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Reverse of multidimensional list::
[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [ ]:
#Accessing all the element of Multidimensional list one-by-one
list=[[1,2,3],[4,5,6],[7,8,9]]

for i in list:
  for j in i:
    print(j,end=' ')
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Dictionary
dict={1:'a',2:'b',3:'c',4:'d',5:'e'}
print(dict)

print(dict[1])
print(dict.get(1))

#add and update Dictionary
dict[1]='A'
print(dict)
del dict[2]
print(dict)
#delete all items from the dictionary
dict.clear()
print(dict)
#print key and values sepratlly
dict={1:'a',2:'b',3:'c',4:'d',5:'e'}
print(dict)
print(dict.keys())
print(dict.values())

#Itrating through the dictionary
for k in dict.keys():
  print(dict[k])
print(dict.items())

for k,v in dict.items():
  print(k,v)

#check if key is present
print(1 in dict)

#merge dictionary
dict1={1:'a',2:'b',3:'c',4:'d',5:'e'}
dict2={6:'a',7:'b',8:'c',9:'d',10:'e'}

dict1.update(dict2)
print(dict1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
a
a
{1: 'A', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
{1: 'A', 3: 'c', 4: 'd', 5: 'e'}
{}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
dict_keys([1, 2, 3, 4, 5])
dict_values(['a', 'b', 'c', 'd', 'e'])
a
b
c
d
e
dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')])
1 a
2 b
3 c
4 d
5 e
True
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'a', 7: 'b', 8: 'c', 9: 'd', 10: 'e'}

In [ ]:
#list of squr
sqr_lst=[num**2 for num in  range(10)]
print(sqr_lst)

#list comprehension
even_list=[num for num in range(11) if num%2==0]
print(even_list)

#nested list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8, 10]

In [ ]:
#example of List methods
to_do_list=['buy Grocery', 'pay bill','clean the house','go to gym']
print(to_do_list)

#add Item in list
to_do_list.append('shedule a meeting ')
to_do_list.append('Go for a run')
print(to_do_list)

#remove item in list
to_do_list.remove('clean the house')
print(to_do_list)

#check item is present in list
if "pay bill" in to_do_list:
  print("Don't forget tp pay utility bill")


#printing all the item in the list
for i in to_do_list:
  print(i)

['buy Grocery', 'pay bill', 'clean the house', 'go to gym']
['buy Grocery', 'pay bill', 'clean the house', 'go to gym', 'shedule a meeting ', 'Go for a run']
['buy Grocery', 'pay bill', 'go to gym', 'shedule a meeting ', 'Go for a run']
Don't forget tp pay utility bill
buy Grocery
pay bill
go to gym
shedule a meeting
Go for a run

In [ ]:
#List Example: find avg, high and low gread
st_mks=[40,30,20,50,35,45]
#add some gread
st_mks.append(25)
st_mks.append(45)
print(st_mks)

#average gread
avg=sum(st_mks)/len(st_mks)
print("Average gread::",avg)

#higest gread
print("Highest gread::",max(st_mks))

#lowest gread
print("Lowest gread::",min(st_mks))

[40, 30, 20, 50, 35, 45, 25, 45]
Average gread:: 36.25
Highest gread:: 50
Lowest gread:: 20

In [2]:
#Use the dictionay to count the frequency of elements of list
number=[1,2,3,4,1,2,3,4,5,6,7,3,4,5,1,2]
frequency={}

for i in number:
  if i in frequency:
    frequency[i]+=1
  else:
    frequency[i]=1

print(frequency)

{1: 3, 2: 3, 3: 3, 4: 3, 5: 2, 6: 1, 7: 1}

In [11]:
'''#Question 2

You are given a list of integers representing the IDs of students who have signed up for an event, but some students have signed up multiple times by mistake. Your task is to:

Remove duplicates to get the unique IDs of students who signed up. Identify students who have both signed up and attended the event (IDs are given in a separate list of attendees). Classify each student as: "Attended" if they signed up and attended. "No-show" if they signed up but did not attend. Finally, print a summary showing the count of "Attended" and "No-show" students. Input:

A list of integers signups, where each element represents a student ID who signed up for the event. (It may contain duplicates.) A list of integers attendees, where each element represents a student ID who attended the event. Output: Print each unique student ID along with its status ("Attended" or "No-show") and a summary like the example below.

# Example Input:

signups = [101, 102, 103, 104, 101, 105, 106, 102)

attendees [102, 104, 106,107]'''

signups = [101, 102, 103, 104, 101, 105, 106, 102]

attendees=[102,105,107]

#Remove duplicate and find unique id: Set for unique value
unique_signups=set(signups)
unique_attendess= set(attendees)

#create counter for attended and no-show student
attended_count=0
no_show_count=0

#classify them
for i in unique_signups:
  if i in unique_attendess:
    print(i,": Attended")
    attended_count+=1
  else:
    print(i,': No show.')
    no_show_count+=1

#Print summery
print()
print("Summery")
print("Number of Attenened student ",attended_count)
print("Number of No-show studenr ",no_show_count)

101 : No show.
102 : Attended
103 : No show.
104 : No show.
105 : Attended
106 : No show.

Summery
Number of Attenened student  2
Number of No-show studenr  4

In [16]:
#You are given two lists of integer : find  the unique common elent if not print msg "No common elements"

list1=[1,2,3,4,5,6,7]
list2=[5,7,8,9,10]

#converting list to set to get unique values
set1=set(list1)
set2=set(list2)

#find common elements
common=set1 & set2

#check and print the result
if common:
  print("sorted common list:",sorted(common))
else:
  print("No common element.")

sorted common list: [5, 7]

In [20]:
'''You are given two list
cart A: list of items purchesed by user(May contain dublicate)
Inventory :A list of items available in stocks
Program to Identify and print item purchesed by user that are not in stocks, count the nuber of  unique item purchesed by user.

Input:
cart = ['apple','orange','banana','grape','banana']
inventory=['apple','banana','kiwi','grape']
output:
out of stock item = 'orange'
unique item purchesed = 4 '''

cart = ['apple','orange','banana','grape','banana']
inventory=['apple','banana','kiwi','grape']

#convert to set to get unique value
unique_cart=set(cart)
unique_inventory= set(inventory)

#identify out of stock elements
out_of_stock = unique_cart - unique_inventory
print(out_of_stock)

#count unique item purchesed
print("Number of Unique items purchesed ",len(unique_cart)-len(out_of_stock))

{'orange'}
Number of Unique items purchesed  3

In [26]:
''' you are given a dictionary where the keys are the student names and values of the list of there score
in three subjects. calculate and print the average score of each student.'''

gread = {
    'Alice': {90,95,98},
    'Bob': {70,80,75},
    'John': {75,70,80}
}

#calculate average score
for i,j in gread.items():
  avg = sum(j)/len(j)
  print(i, ':', round(avg,2))
  print(i, ':', f"{avg:.2f}") #fatmat decimal in 2 place both way can be use

Alice : 94.33
Alice : 94.33
Bob : 75.0
Bob : 75.00
John : 75.0
John : 75.00